 <!-- <div class="container"> -->
    <mat-nav-list>
        <div class="logo-py-4">
            <img src="" alt="">
        </div>
        <mat-divider></mat-divider>
        <h2 matSubheader class="mt-2">Switch Energy System</h2>
        <a mat-list-item routerLink="/enroll-switch-meter" routerLinkActive="list-item-active">
            <mat-icon>account_box</mat-icon>Enroll Switch Meter
        </a>
        <a mat-list-item routerLink="/bills" routerLinkActive="list-item-active">
            <mat-icon>school</mat-icon>Bills
        </a>
        <a mat-list-item routerLink="/provider" routerLinkActive="list-item-active">
            <mat-icon>work</mat-icon>Switch Provider
        </a>
        <a mat-list-item routerLink="/rates" routerLinkActive="list-item-active">
            <mat-icon>add</mat-icon>Check Rates
        </a>
        <a mat-list-item routerLink="/asdf" routerLinkActive="list-item-active">
            <mat-icon>subject</mat-icon>asdf
        </a>
    </mat-nav-list>
 <!-- </div> -->
 