/* body {
     background-color:  #a3cccc; 
     height: 10px;
} */

.container {
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    margin: 4% 25% 3% 26%;
    border-radius: 20px;
}

.signup-form {
    display: flex;
    position: relative;
    /* background-color:whitesmoke; */
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    /* border: 2px solid black; */
    border-left: 50px solid blue;
    border-radius: 20px;
    box-shadow: 20px 20px 50px grey;
}
/* 
.input-field {
  width: 50%;
} */

mat-form-field {
  background-color: rgb(235, 235, 235);
  width: 200px;
  height: 41px;
}

#gender {
  height: 50px;
  margin-left: 50px;
}

