/* body {
     background-color:  #a3cccc; 
     height: 10px;
} */

.container {
    /* display: flex; */
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    margin: 4% 25% 3% 26%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.signup-form {
    display: flex;
    position: relative;
    /* background-color:whitesmoke; */
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    /* border: 2px solid black; */
    border-left: 50px solid blue;
    border-radius: 20px;
    box-shadow: 20px 20px 50px grey;
}

mat-form-field {
  background-color: rgb(235, 235, 235);
  width: 210px;
  height: 41px;
}

.input-row-1 {
    width: 80% !important;
    margin-bottom: 10px;
    background-color: blue;
}

.input-row-2 {
  margin-top: 200px;
    width: 80% !important;
    margin-bottom: 10px;
    background-color: rgb(255, 0, 8);
}

.right {
  margin-left: 60px;
}

#gender {
  height: 10px;
  margin-left: 50px;
}

