.logo {
    text-align: center;
    padding: 2.6rem 1rem;
}

img {
    width: 100px;
}

mat-divider {
    border-top-width: 2px;
    border-color: white;
}

mat-icon {
    vertical-align: centre;
    margin-right: 1rem;
}

.mat-list-item {
    color: #94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 0 8px;
}

.mat-list-item:hover {
    color: #f2f5f7 !important;
}

.mat-list-item-content {
    background-color: #2c3344;
    border-radius: 5px;
    margin: 0 8px;
}

.mat-list-item:hover{
    background-color: #2c3344 !important;
}

.list-item-active {
    color: #f2f5f7 !important;
}

.list-item-active:hover {
    background: #2c3344 !important;
}

.mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 120%;
}