<mat-nav-list>
    <div class="logo">
        <!-- <img src="../../../../assets/images/logo.jpg" alt="System Logo"> -->
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Switch Energy System</h2>
    <a mat-list-item routerLink="/user/smart-meters" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Smart Meters
    </a>
    <a mat-list-item routerLink="/user/bills" routerLinkActive="list-item-active">
        <mat-icon>receipt</mat-icon>Bills
    </a>
    <a mat-list-item routerLink="/user/providers" routerLinkActive="list-item-active">
        <mat-icon>view_list</mat-icon>Providers
    </a>
    <!-- <a mat-list-item routerLink="/user/payment" routerLinkActive="list-item-active">
        <mat-icon>payment</mat-icon>Pay
    </a> -->
</mat-nav-list>
