<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#id</th>
          <th scope="col">User</th>
          <th scope="col">Provider</th>
          <th scope="col">Approve</th>
          <th scope="col">Reject</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let smartMeter of smartMeters">
          <td scope="row">{{smartMeter.id}}</td>
          <td>{{smartMeter.userId}}</td>
          <td>{{smartMeter.providerName}}</td>
          <td><button mat-raised-button mat-dialog-close class="accept" (click)="acceptRequest(smartMeter.id)">Accept</button></td>
          <td><button mat-raised-button mat-dialog-close class="decline" (click)="declineRequest(smartMeter.id)">Decline</button></td>
        </tr>
      </tbody>
    </table>
  </div>