<div class="main">
    <div class="container">
        <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)" autocomplete="off">
            <div class="signup-table">
                <table>
                    <p>
                        <tr>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Name</mat-label>
                                    <input matInput type="text" id="name" formControlName="name">
                                    <mat-error>Enter a valid Name</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Contact Number</mat-label>
                                    <input matInput type="number" formControlName="contactNumber">
                                    <mat-error>Enter a valid Contact Number</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </p>
                    <p>
                        <tr>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="text" formControlName="email">
                                    <mat-error>Enter a valid Email</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Address</mat-label>
                                    <input matInput type="text" id="address" formControlName="address">
                                    <mat-error>Enter a valid Address</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </p>
                    <p>
                        <tr>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="text" formControlName="password">
                                    <mat-error>Enter a valid Password</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput type="password" formControlName="confirmPassword">
                                    <mat-error>Password Mismatch</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </p>
                </table>
                <div class="button">
                    <button mat-raised-button color="primary" class="submit" [disabled]="!signupForm.valid">Sign up</button>
                </div>
                <div class="login-route">
                    <p>Already have an Account?&nbsp;</p>
                    <p><a href="auth/login">Login</a></p>
                </div>
            </div>
        </form>
    </div>
</div>