
.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
}

.page__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
}

.page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -3rem;
    background: white;
    color: black;
    font-size: 2rem;
}

.page-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-container {
    margin-top: 10px;
    margin-left: 40%;
}

.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
}

.page__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
}

.page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -3rem;
    background: white;
    color: black;
    font-size: 2rem;
}

.page-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th,
td {
    padding: 15px;
}

.table-container {
    display: flex;
    width: 120%;
    margin-top: 10px;
    margin-left: 27%;
    /* background-color: whitesmoke; */
    font-size: 50%;
}



.bill {
    background-color: yellow;
}