<app-header></app-header>
<app-side-nav></app-side-nav>
<div class="container">
  <form class="check-rate-form" [formGroup]="checkRates" (ngSubmit)="checkRate(checkRates.value)" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Provider</mat-label>
      <mat-select formControlName="provider_name">
        <mat-option *ngFor="let provider of providers" [value]="provider.providerName">
          {{provider.providerName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button">
      <button mat-raised-button color="primary" class="submit" [disabled]="!checkRates.valid">Check</button>
    </div>
  </form>
</div>