<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Providers</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="button-class">
        <button mat-raised-button (click)="enrollProvider()" class="enroll-button" color="primary">
          enroll
        </button>
      </div>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#id</th>
              <th scope="col">Provider Name</th>
              <th scope="col">Rate</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let provider of providers">
              <td scope="row">{{provider.id}}</td>
              <td>{{provider.name}}</td>
              <td>{{provider.rate}}</td>
              <td><button mat-raised-button *ngIf="provider.isEnabled == true" class="red"
                  (click)="disable(provider)">Disable</button>
                <button mat-raised-button *ngIf="provider.isEnabled == false" class="green"
                  (click)="enable(provider)">Enable</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>