 .main {
    background-color: rgb(219, 243, 244);
    width: 211.5vh;
    height: 100vh;
 }

.container {
    display: flex;
    position: relative;
    background-color: seashell;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    top: 20%;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 50px grey;
}


.login-table {
    margin-top: 10px;
}

.signup-route {
    margin-top: 15px;
}

#para {
    margin-left: 9px;
}

.forgot-password {
    margin-top: -15px;
    text-align: right;
}

#forgot-password {
    color: darkslategray;
}

a {
    text-decoration: none;
}

.button{
    margin-top: 10px;
}

.submit {
    background-color: orange;
    width: 200px;
    color: white;
}

.submit:hover {
    background-color: rgb(255, 140, 0);
    color: seashell;
}
