
<div mat-dialog-content>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Select Provider</mat-label>
            <mat-select [(ngModel)]="newSmartMeter" name="provider">
                <mat-option *ngFor="let provider of providers" [value]="provider.id">
                    {{provider.name}}
                  </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button [mat-dialog-close]="newSmartMeter" cdkFocusInitial>Ok</button>
  </div>