.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
}

.page__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
}

.page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -3rem;
    background: white;
    color: black;
    font-size: 2rem;
}

.page-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-container {
    display: flex;
    width: 200%;
    margin-top: 10px;
    margin-left: 45%;
    background-color: whitesmoke;
    font-size: 55%;
}

.button-container {
    padding-bottom: 16px;
  }

  .demo-button {
    margin-left: 8px;
  }